{% extends 'layouts/base.html' %}


{% block content %}
<br>

<div class="container">
    <form action="{% url 'create-pdf' %}" method="POST">
    <!-- <div class="row"> -->
        {% csrf_token %}

        <div class="row">
            <div class="col-sm">
                <!-- One of three columns -->
                <!-- <div class="col-md-12"> -->
                    <div class="card card-body">
                        <h5>Tiers:</h5>
                        <hr>
                        <div class="input-group mb-3">
                            <input type="text" name="compte" class="form-control" placeholder="compte" aria-label="Compte" required>
                                <span class="input-group-text"></span>
                            <input type="text" name="tiers" class="form-control" placeholder="tiers" aria-label="Tiers" required>
                        </div>
                        <!-- <a class="btn btn-outline-info  btn-sm btn-block" href="">Tiers</a>
                        <a class="btn btn-outline-danger  btn-sm btn-block" href="">Periode</a> -->
            
                    </div>
                <!-- </div> -->
            </div>
            <div class="col-sm">
                <!-- <div class="col-md-20"> -->
                    <div class="card card-body">
                        <h5>Periode</h5>
                        <hr>
                        <div class="form-group">
                            <label> Jour </label>
                            <select class="custom-select mr-sm-2" id="inlineFormCustomSelect" name="jour"  required>
                                <option selected>Votre choix </option>
                                <option value="28">28</option>
                                <option value="29">29</option>
                                <option value="30">30</option>
                                <option value="31">31</option>
                            </select>
                        </div>
                        {%if jour == '28'%}
                            'jaures'
                        {%endif%}
                        <div class="form-group">
                            <label> Mois </label>
                            <select class="custom-select mr-sm-2" id="inlineFormCustomSelect1" name="mois"  required>
                                <option selected>Votre choix </option>
                                <option value="Fevrier">Février</option>
                                <option value="Janvier">Janvier</option>
                                <option value="Mars">Mars</option>
                                <option value="Avril">Avril</option>
                                <option value="Mai">Mai</option>
                                <option value="Juin">Juin</option>
                                <option value="Juillet">Juillet</option>
                                <option value="Août">Août</option>
                                <option value="Septembre">Septembre</option>
                                <option value="Octobre">Octobre</option>
                                <option value="Novembre">Novembre</option>
                                <option value="Decembre">Decembre</option>
                               
                            </select>
                    </div>
                    <div class="form-group">
                        <label> Annee </label>
                        <select class="custom-select mr-sm-2" id="inlineFormCustomSelect12" name="annee"  required>
                            <option selected>Votre choix </option>
                            <option value="2021">2021</option>
                            <option value="2020">2020</option>
                            <option value="2019">2019</option>
                            <option value="2018">2018</option>
                        </select>
                    </div>
                </div>
                <!-- </div>    -->
            </div>
            <div class="col-sm">
                <!-- <div class="col-md-20"> -->
                    <div class="card card-body" id= "signataire">
                        <h5>Les Signataires</h5>
                        <hr>
                    
                    <div class="form-group">
                        <label> Signataire 1 </label>
                        <select class="custom-select mr-sm-2" id="inlineFormCustomSelect5" name="signataire1"  required>
                            <option selected>Votre choix </option>
                            <option value="S. NEMBE">S. NEMBE </option>
                           
                        </select>
                    </div>
                    <div class="form-group">
                        <label> Signataire 2 </label>
                        <select class="custom-select mr-sm-2" id="inlineFormCustomSelect51" name="signataire2">
                            <option selected>Votre choix </option>
                            <option value="J. C. NGOYE">J. C. NGOYE </option>
                            
                        </select>
                        </div>
                    </div>
                    <div class="form-check">
                        <input type="checkbox" class="form-check-input" id="dn" name="dn">
                        <label class="form-check-label" for="dn">Visa DN</label>
                    </div>
                <!-- </div> -->
            </div>
        </div>
        
       
        <!-- </div> -->
        <div class="row" style="text-align: center;">
            <button class="btn btn-primary p-2" type="submit">Générer la lettre  </button>
        </div>
    </form>
    
</div>
    
	
<br>

<script>
    $(document).ready(function () {


        $('select[name=jour].value')
        $('input[name=dn]').on('click', function(){
            if( $('input[name=dn]').is(':checked') ){
                alert("oui")
                $("#signataire").hide();
                
                
            }else{
                alert("non")
            }
        })
    
});
</script>

{% endblock %}