{% extends 'layouts/base.html' %}
{% load static%}

{% block javascript %}
  <script src="{% static 'test/js/mvt.js' %}"></script>
{% endblock %}

{% block content %}
  <h1 class="page-header">MVT {{periode}}</h1>
  <p>
    <button type="button"
            class="btn btn-primary js-create-book"
            data-url="{% url 'mvt_create' %}">
      <span class="glyphicon glyphicon-plus"></span>
     Nouveau Compte
    </button>

    </p>
  {% include 'mvt/liste_partiel_mvt.html' %}
      

    {% if users.has_other_pages %}
    <ul class="pagination">
      {% if users.has_previous %}
        <li><a class="page-link" href="?page={{ users.previous_page_number }}">&laquo;</a></li>
      {% else %}
        <li class="disabled"><span>&laquo;</span></li>
      {% endif %}
      {% for i in users.paginator.page_range %}
        {% if users.number == i %}
          <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
        {% else %}
          <li><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
        {% endif %}
      {% endfor %}
      {% if users.has_next %}
        <li><a class="page-link" href="?page={{ users.next_page_number }}">&raquo;</a></li>
      {% else %}
        <li class="disabled"><span>&raquo;</span></li>
      {% endif %}
    </ul>
  {% endif %}
{% endblock %}