{% extends 'layouts/base.html' %}
{% load static %}
{% block javascript %}
  <script src="{% static 'js/tiers.js' %}"></script>
{% endblock %}
{% block content %}
  <h1 class="page-header">Tiers</h1>
  <p>    
        <button type="button" class="btn btn-dark"><a href="{% url 'ajouter_tiers' %}" style='color: white;'><span class="glyphicon glyphicon-plus"></span> 
        Nouveau Tiers</a></button>
  </p>
  {% include 'tiers/liste_partiel_tiers.html' %}
  {% if tiers.has_other_pages %}
    <ul class="pagination">
      {% if tiers.has_previous %}
        <li><a class="page-link" href="?page={{ tiers.previous_page_number }}">&laquo;</a></li>
      {% else %}
        <li class="disabled"><span>&laquo;</span></li>
      {% endif %}
      {% for i in tiers.paginator.page_range %}
        {% if tiers.number == i %}
          <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
        {% else %}
          <li><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
        {% endif %}
      {% endfor %}
      {% if tiers.has_next %}
        <li><a class="page-link" href="?page={{ tiers.next_page_number }}">&raquo;</a></li>
      {% else %}
        <li class="disabled"><span>&raquo;</span></li>
      {% endif %}
    </ul>
  {% endif %}
{% endblock %}