<table class="table" id="book-table">
    <thead>
      <tr>
        
        <th>compte </th>
        <th>tiers</th>
        <th>destinataire </th>
        <th>description</th>
        
      </tr>
    </thead>
    <tbody>
      {% for tiers in tiers %}
      <tr>
        
        <td>{{ tiers.compte }}</td>
        <td>{{ tiers.tiers }}</td>
        <td>{{ tiers.destinataire }}</td>
        <td>{{ tiers.description1 }}</td>
       
        <td>
          <button type="button" class="btn btn-warning"><a href="{% url 'modifier_tiers' tiers.id %}" style='color: white;'>
            <span class="glyphicon glyphicon-plus"></span> 
            Modifier Tiers</a></button>
          
        </td>
      </tr>
    {% empty %}
      <tr>
        <td colspan="8" class="text-center bg-warning">Au aucun Tiers </td>
      </tr>
    {% endfor %}
    </tbody>
  </table>